.button--secondary {
  background-color: transparent;
  @include main-text-style($fw: 500, $lh: 32px, $color: $elements-color);
  border: 1px solid $elements-color;

  &:hover {
    border-color: $checkbox-text-color;
    color: $checkbox-text-color;
  }
}