.checkbox--box .checkbox__label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;

  @include main-text-style($fw: 500, $lh: 20px, $color: $checkbox-text-color);
  border: 1px solid $checkbox-border-color;

  transition: color ease-in 0.2s;

  &:hover {
    color: $third-text-color;
  }
}

.checkbox--box .checkbox__input:checked + .checkbox__label {
  color: white;
  background-color: $main-color;
  border-color: $main-color;

  transition: color ease-in 0.2s;

  &:hover {
    background-color: $main-color-hover;
  }
}