mixin switch(label)
  .switch
    label.switch__wrapper(for="switch")
      input.switch__input.visually-hidden(type="checkbox" id="switch")
      span.switch__toggle
    label.switch__label(for="switch")= label