include ../catalog/catalog
include ../filter/filter
- var cards = [{title: 'Расцветай на Маркса', img: {src: 'assets/img/house.jpg', width: '270', height: '250', alt: 'ЖК Расцветай на Маркса'}, timing: 'Срок сдачи до 3 кв. 2022 г.', subway: 'Студенческая', duration: '5 мин.', address: 'пр. Карла Маркса, 167/2', marks: ['Услуги 0%', 'Комфорт+']},{title: 'Расцветай на Маркса', img: {src: 'assets/img/house.jpg', width: '270', height: '250', alt: 'ЖК Расцветай на Маркса'}, timing: 'Срок сдачи до 3 кв. 2022 г.', subway: 'Студенческая', duration: '5 мин.', address: 'пр. Карла Маркса, 167/2', marks: ['Услуги 0%', 'Комфорт+']},{title: 'Расцветай на Маркса', img: {src: 'assets/img/house.jpg', width: '270', height: '250', alt: 'ЖК Расцветай на Маркса'}, timing: 'Срок сдачи до 3 кв. 2022 г.', subway: 'Студенческая', duration: '5 мин.', address: 'пр. Карла Маркса, 167/2', marks: ['Услуги 0%', 'Комфорт+']},{title: 'Расцветай на Маркса', img: {src: 'assets/img/house.jpg', width: '270', height: '250', alt: 'ЖК Расцветай на Маркса'}, timing: 'Срок сдачи до 3 кв. 2022 г.', subway: 'Студенческая', duration: '5 мин.', address: 'пр. Карла Маркса, 167/2', marks: ['Услуги 0%', 'Комфорт+']},{title: 'Расцветай на Маркса', img: {src: 'assets/img/house.jpg', width: '270', height: '250', alt: 'ЖК Расцветай на Маркса'}, timing: 'Срок сдачи до 3 кв. 2022 г.', subway: 'Студенческая', duration: '5 мин.', address: 'пр. Карла Маркса, 167/2', marks: ['Услуги 0%', 'Комфорт+']},{title: 'Расцветай на Маркса', img: {src: 'assets/img/house.jpg', width: '270', height: '250', alt: 'ЖК Расцветай на Маркса'}, timing: 'Срок сдачи до 3 кв. 2022 г.', subway: 'Студенческая', duration: '5 мин.', address: 'пр. Карла Маркса, 167/2', marks: ['Услуги 0%', 'Комфорт+']}, {title: 'Расцветай на Маркса', img: {src: 'assets/img/house.jpg', width: '270', height: '250', alt: 'ЖК Расцветай на Маркса'}, timing: 'Срок сдачи до 3 кв. 2022 г.', subway: 'Студенческая', duration: '5 мин.', address: 'пр. Карла Маркса, 167/2', marks: ['Услуги 0%', 'Комфорт+']}, {title: 'Расцветай на Маркса', img: {src: 'assets/img/house.jpg', width: '270', height: '250', alt: 'ЖК Расцветай на Маркса'}, timing: 'Срок сдачи до 3 кв. 2022 г.', subway: 'Студенческая', duration: '5 мин.', address: 'пр. Карла Маркса, 167/2', marks: ['Услуги 0%', 'Комфорт+']}, {title: 'Расцветай на Маркса', img: {src: 'assets/img/house.jpg', width: '270', height: '250', alt: 'ЖК Расцветай на Маркса'}, timing: 'Срок сдачи до 3 кв. 2022 г.', subway: 'Студенческая', duration: '5 мин.', address: 'пр. Карла Маркса, 167/2', marks: ['Услуги 0%', 'Комфорт+']}]

main.main
  h1.visually-hidden Продажа недвижимости

  div(style="display: none;")
    <include src="build/assets/img/sprite.svg"></include>

  .main__container
    button.main__toggle(type="button" aria-label="Переключить фильтр")
      svg.main__toggle-icon--bar.visually-hidden(width="26" height="26" viewBox="0 0 13 13" fill="#f03b8c" aria-label="Открыть фильтр")
        use(xlink:href="#icon-bar")
      svg.main__toggle-icon--close(width="20" height="20" viewBox="0 0 10 10" fill="#f03b8c" aria-label="Закрыть фильтр")
        use(xlink:href="#icon-close")
    section.main__catalog
      h2.visually-hidden Каталог
      +catalog(cards, "main__catalog-list")
    section.main__filter
      h2.visually-hidden Фильтрация каталога
      +filter()