.card__header {
  position: relative;
}

.card__img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__marks-list {
  position: absolute;
  top: 11px;
  left: 10px;
  display: flex;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.card__mark {
  margin-right: 10px;
  padding: 0 10px;

  @include main-text-style($fs: 12px, $fw: 500);
  color: white;

  background-color: $main-color;
  border-radius: 5px;
}

.card__body {
  padding: 15px 16px 9px 15px;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__title {
  margin-top: 0;
  margin-bottom: 14px;
  @include main-text-style($fw: 700, $lh: 20px);
}

.card__timing {
  margin-top: 0;
  margin-bottom: 10px;
  @include main-text-style($lh: 32px);
}

.card__route {
  margin-top: 0;
  margin-bottom: 5px;
}

.card__subway {
  margin-right: 6px;
  @include main-text-style($fs: 16px, $lh: 29px);
}

.card__icon-subway {
  margin-right: 7px;
}

.card__duration {
  @include main-text-style($fs: 16px, $lh: 29px, $color: $secondary-text-color);
}

.card__icon-man {
  margin-left: 10px;
}

.card__address {
  margin: 0;
  @include main-text-style($lh: 32px, $color: $secondary-text-color);
}

@media (max-width: 1070px) {
  .card {
    width: 100%;
    display: flex;
  }

  .card__img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
  }

  .card__body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

@media (max-width: 540px) {
  .card {
    width: auto;
    display: block;
  }

  .card__body {
    width: auto;
    display: block;
  }
}