$background-color: #f9f9f9;
$main-color: #f03b8c;
$main-color-hover: rgba(240, 59, 140, 0.6);
$primary-text-color: #111111;
$secondary-text-color: #8f8f8f;
$third-text-color: #d8d8d8;
$elements-color: #5f5f5f;
$checkbox-border-color: #e7e7e7;
$checkbox-text-color: #afafaf;

@mixin main-text-style($fs: 18px, $fw: 400, $lh: 23px, $color: $primary-text-color) {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: $fs;
  line-height: $lh;
  font-weight: $fw;
  color: $color;
}

@mixin cross($rotate: false, $bc: $elements-color, $width: 1px, $height: 8px, $top: 0, $right: 0) {
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: $top;
    right: $right;
    height: $height;
    width: $width;
    background-color: $bc;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  @if $rotate == true {
    &::before {
      transform: rotate(90deg);
    }

    &::after {
      transform: rotate(0deg);
    }
  }
}